In [59]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import traceback as tb

In [60]:
df = pd.read_csv('train.dat', delimiter='\t', header=None)

In [61]:
df.head()

   0                                            1
0 -1                              DVELDLVEISPNALP
1 -1                               KADEELFNKLFFGT
2 -1  FLVALHLGTAFALLWYFRKRWCALVRGFFASFGGRRNDDAHMM
3 -1                         RDQMRARIADITGVAISRIA
4 -1                                    RKRLQLLLL

In [73]:
df_results = df[0]

In [74]:
df_results

0      -1
1      -1
2      -1
3      -1
4      -1
       ..
1561   -1
1562    1
1563    1
1564   -1
1565   -1
Name: 0, Length: 1566, dtype: int64

In [64]:
df_seq = df[[1]]

In [65]:
df_seq.columns = ['Sequence']

In [67]:
df_seq.head()

                                      Sequence
0                              DVELDLVEISPNALP
1                               KADEELFNKLFFGT
2  FLVALHLGTAFALLWYFRKRWCALVRGFFASFGGRRNDDAHMM
3                         RDQMRARIADITGVAISRIA
4                                    RKRLQLLLL

In [66]:
def dna_k_mers_generation(dna_sequence, k_mers_length):
    k_mers_list = []
    try:
        for i in range(len(dna_sequence) - k_mers_length + 1):
            k_mer_substring = dna_sequence[i : i + k_mers_length]
            k_mers_list.append(k_mer_substring)
    except Exception as e:
        tb.print_exc()
    return k_mers_list

In [70]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(analyzer='char', ngram_range=(2, 6))
X = vectorizer.fit_transform(df_seq['Sequence']).toarray()

In [52]:
# k_mers_list = []# Range of k-mer lengths (e.g., 2 to 5)
# for k in range(2, 6):
#     df_seq[f'kmers_{k}'] = df_seq['Sequence'].apply(lambda x: dna_k_mers_generation(x, k))

In [71]:
df_seq.head()

                                      Sequence
0                              DVELDLVEISPNALP
1                               KADEELFNKLFFGT
2  FLVALHLGTAFALLWYFRKRWCALVRGFFASFGGRRNDDAHMM
3                         RDQMRARIADITGVAISRIA
4                                    RKRLQLLLL

In [75]:
from imblearn.over_sampling import SMOTE

y = df_results

smote = SMOTE()
X_resampled, y_resampled = smote.fit_resample(X, y)

In [86]:
# Check the balance of the classes
# print(pd.Series(y_resampled).value_counts()).to_clipboard()

In [56]:
df_results.columns = ['Labels']

In [57]:
df_results.head()

   Labels
0      -1
1      -1
2      -1
3      -1
4      -1

In [58]:
df_results.value_counts()

Labels
-1        1424
 1         142
Name: count, dtype: int64

In [85]:
# df_resampled = pd.DataFrame(X_resampled)
# df_resampled.to_clipboard(index=False)

In [83]:
df_resampled.head()

,0,1,2,3,4,5,6,7,8,9,...,92492,92493,92494,92495,92496,92497,92498,92499,92500,92501
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [84]:
df_resampled.to_clipboard()

In [88]:
df_resampled.to_csv('features_resampled.csv')
features_resampled = pd.DataFrame(y_resampled)
features_resampled.to_csv('labels_resampled.csv')